- if (id) {
	h1 Modification de la gallerie #{name}
	submitLabel = 'Modifier la gallerie';
- } else {
	h1 Créer une gallerie 
	submitLabel = 'Créer la gallerie'
- }
form(method='post', action='/category', id='category')
	input(type='hidden', name='id', value='#{id}')
	input(type='hidden', name='description', id='description', value='#{description}')
	table
		tr
			td
				label(for='name') Nom
			td
				input(id='categoryName', name='name', data-dojo-type='dijit/form/ValidationTextBox', required=true, data-dojo-props="trim:true,selectOnClick:true", value='#{name}')
		tr
			td
				label(for='heading') Chapeau
			td
				textarea(id='heading', name='heading', row="30", data-dojo-type='dijit/form/SimpleTextarea', data-dojo-props='trim:true') #{heading}
		tr
			td
				label(for='editorContent') Description 
			td
				div(id='editorContent', name='editorContent', data-dojo-type='dijit/Editor', height='200px', data-dojo-props="onChange:function(text){dom.byId('description').value = text;}, extraPlugins:['|', 'foreColor','hiliteColor','|','createLink','fullscreen','|', 'fontSize', 'formatBlock']") #{description}
		tr
			td		
				label(for='position') Position 
			td
				div(name='position', data-dojo-type='dijit/form/NumberSpinner', data-dojo-props="smallDelta:1, constraints:{min:0,places:0}", value='#{position}', style="width:50px")
		tr
			td		
				label(for='active') Publiée 
			td
				div(name='active', id='active', value="#{active}", data-dojo-type='dojox/mobile/Switch')
		tr
			td(colspan=2, style="text-align:center")
				button(type='button', id='btnSubmitCategory', action='#{action}', label='#{submitLabel}', data-dojo-type='dijit/form/Button', data-dojo-props='onClick:function(){adm.updateCategory("#{action}");}')